.array-container{
    /* display: flex;
    justify-content:center;
    align-items:center;
    align-self: center; */
    position: absolute;
    /* height: 50vh; */
    left:100px;
}
.array-bar{
    width:15px;
    /* height:30px; */
    background-color: aqua;
    display: inline-block;
    /* margin: 0 2px; */
    margin: 0 5px;
}